body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        /* ナビゲーションバーのスタイル */
        .navbar {
            background-color: #333;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            transition: background-color 0.3s;
        }
        .navbar a:hover {
            background-color: #575757;
        }
body {
    background-image: url('../image/back.png'); /* 画像のパス */
    background-size: cover; /* 画像を画面全体に拡大 */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    background-position: center; /* 画像を中央に配置 */
}
